name: cevapp
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.17.5 <3.0.0"

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  auto_size_text: ^3.0.0
  animated_button: ^0.2.0
  flutter_launcher_icons: ^0.9.3
  flutter_neumorphic: ^3.2.0
  equatable: ^2.0.3
  flutter_sound: ^9.2.13
  permission_handler: ^10.0.0
  audioplayers: ^1.0.1
  sliding_up_panel: ^2.0.0+1
  shared_preferences: ^2.0.15
  uuid: ^3.0.6
  path_provider: ^2.0.11
  flutter_native_splash: ^2.2.8
  animated_splash_screen: ^1.3.0
  flutter_bloc: ^8.1.1
  url_launcher_web: ^2.0.13

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^2.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  fonts:
    - family: Bright
      fonts:
        - asset: fonts/bright.otf
  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
    - assets/icons/
    - assets/images/
    - assets/github_images/
    - assets/data/
    - assets/profile_images/
    - assets/profile_images/BIRD/
    - assets/profile_images/DOLPHIN/
    - assets/profile_images/DRAGON/
    - assets/profile_images/ELEPHANT/
    - assets/profile_images/LION/
    - assets/profile_images/OWL/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:

  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
flutter_icons:
  android: "cevapp"
  ios: true
  image_path: "assets/icons/logo.png"

flutter_native_splash:
  color: "#48B0B9"
  image: assets/images/cevapp_splash.png
  branding: assets/icons/logo.png
  color_dark: "#48B0B9"
  image_dark: assets/images/cevapp_splash.png
  branding_dark: assets/icons/logo.png

  android_12:
    image: assets/images/cevapp_splash.png
    icon_background_color: "#48B0B9"
    image_dark: assets/images/cevapp_splash.png
    icon_background_color_dark: "#48B0B9"

  web: false